<!-- Admin Header Partial -->
<nav class="navbar">
  <div class="logo-container">
      <img src="../../userside/css/images/logostick.png" alt="Logo" class="logo">
      <div class="logo1">TRIPLE<a href="#">G</a></div>
  </div>
  <ul class="nav-links" id="navLinks">
      <li><a href="../../home.html">Home</a></li>
      
      <!-- Portfolio Dropdown -->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle">Portfolio <i class="fas fa-caret-down"></i></a>
          <ul class="dropdown-menu">
              <li><a href="projectmanagement.html">Project Management</a></li>
              <li><a href="blogmanagement.html">Blog Management</a></li>
          </ul>
      </li>
      
      <!-- Site Diary Management Dropdown -->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle">Site Diary Management <i class="fas fa-caret-down"></i></a>
          <ul class="dropdown-menu">
              <li><a href="adminhome.html">Home</a></li>
              <li><a href="admindiaryreviewer.html" class="active">Diary Review</a></li>
              <li><a href="adminhistory.html">Diary History</a></li>
              <li><a href="adminreports.html">Reports & Analytics</a></li>
              <li><a href="adminclientproject.html">Client Projects</a></li>
          </ul>
      </li>
      
      <!-- Admin Tools -->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle">Admin Tools <i class="fas fa-caret-down"></i></a>
          <ul class="dropdown-menu">
              <li><a href="adminmessagecenter.html">Message Center</a></li>
              <li><a href="adminusers.html">User Management</a></li>
          </ul>
      </li>
      
      <li><a href="../../SiteDiary/settings.html">Settings</a></li>
  </ul>
  <button class="mobile-menu-btn">
      <i class="fas fa-bars"></i>
  </button>
</nav>
